<div class="container">
  <h1 class="mb-4">Contact</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Contactez-nous</h5>
      <p class="card-text">
        Vous pouvez nous contacter à l'adresse suivante :<br>
        Email : contact@thegossipproject.com
      </p>
    </div>
  </div>
</div>