<div class="container">
  <h1 class="mb-4">Notre équipe</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Membre 1</h5>
          <p class="card-text">Description du premier membre de l'équipe.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Membre 2</h5>
          <p class="card-text">Description du deuxième membre de l'équipe.</p>
        </div>
      </div>
    </div>
  </div>
</div>